<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happybirthday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_lemonade"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_lemonade_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyBirthday">
        <activity
            android:name=".DessertActivity"
            android:exported="false"
            android:theme="@style/Theme.Dessert" />
        <activity
            android:name=".words.view.WordActivity"
            android:exported="false"
            android:theme="@style/Theme.Words" />
        <activity
            android:name=".dogglers.view.VerticalListActivity"
            android:label="@string/doggler_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dogglers.view.DogglersActivity" />
        </activity>
        <activity
            android:name=".dogglers.view.HorizontalListActivity"
            android:label="@string/doggler_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dogglers.view.DogglersActivity" />
        </activity>
        <activity
            android:name=".dogglers.view.GridListActivity"
            android:label="@string/doggler_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dogglers.view.DogglersActivity" />
        </activity>
        <activity
            android:name=".dogglers.view.DogglersActivity"
            android:exported="false"
            android:label="@string/doggler_name" />
        <activity
            android:name=".affirmation.view.AffirmationActivity"
            android:exported="false"
            android:theme="@style/Theme.Affirmations" />
        <activity
            android:name=".TipActivity"
            android:exported="false"
            android:theme="@style/Theme.TipTime" />
        <activity
            android:name=".LemonadeActivity"
            android:exported="false"
            android:theme="@style/Theme.Lemonade" />
        <activity
            android:name=".DebugActivity"
            android:exported="false" />
        <activity
            android:name=".DiceActivity"
            android:exported="false" />
        <activity
            android:name=".BirthdayActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>